html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.carts {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.cart {
    width: 450px;
    height: 100px;
}

.cart-title {
    font-size: 1.1rem;
    font-weight: 500;
}

.cart-author {
    font-size: 1rem;
    font-weight: 500;
}